{{ define "main-class" }}withside{{ end }}
{{ define "aside" }}
  {{- partial "aside.html" . -}}
{{ end }}
{{ define "main" }}
<div class="hide-on-large-only show-print">
  {{- partial "mug.html" . -}}
</div>
<div class="intro">
  <div class="row">
    <div class="col s12">
      {{ $path := (path.Join $.Page.File.Dir "_includes/about.md") }}
      {{ $about := readFile $path }}
      {{ $about | markdownify }}
    </div>  
  </div>
</div>
<br>
<h3 class="timeline-title">Experience</h3>
<div class="timeline">
  {{ range $index, $element := .Paginator.Pages }}
    <div class="row timeline-item">
      <div class="timeline-icon"></div>
      <div class="date col s12 l6{{ if eq (mod $index 2) 0 }} date-right {{ else }} push-l6 {{ end }}">
        <span class="card-panel blue-grey darken-1"><i class="fas fa-calendar-day"></i>&nbsp;&nbsp;{{ .Params.timeperiod }}</span>
      </div>
      <div class="col s12 l6{{ if eq (mod $index 2) 1 }} pull-l6 content-right {{ end }}">
        <div class="card hoverable blue-grey darken-3">
          <div class="card-content">
              <span class="card-title">{{ .Title | safeHTML }}</span>
              <div class="post-content">
                {{ .Content }}
              </div>
            </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
<div class="additional">
  <div class="row">
    <div class="col s12">
      {{ $path := (path.Join $.Page.File.Dir "_includes/additional.md") }}
      {{ $additional := readFile $path }}
      {{ $additional | markdownify }}
    </div>  
  </div>
</div>
<div class="footer-home hide-on-large-only hide-print">
  <a href="/">Home</a>
</div>
{{ end }}
