{{ define "main-class" }}withside{{ end }}
{{ define "aside" }}
  {{- partial "aside.html" . -}}
{{ end }}
{{ define "header" }}
<div class="hide-on-large-only">
  {{- partial "header.html" . -}}
</div>
{{ end }}
{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h2 class ="post-title">{{ .Title | safeHTML }}</h2>
      <div class="post-meta">
        <div>
            <i class="fas fa-calendar-day"></i>&nbsp;&nbsp;{{ .Params.timeperiod }}
        </div>
      </div>
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
  </article>
  <div class="footer-home hide-on-large-only">
      <a href="/cv/">CV</a>
  </div>
{{ end }}
