@charset "UTF-8";

// MATERIALIZE
// Color
@import "components/color-variables";
@import "components/color-classes";
$sidenav-bg-color: color("blue-grey", "darken-4");
$sidenav-font-color: color("blue-grey", "lighten-4");
$card-link-color: color("blue", "accent-4");
$card-link-color-light: lighten($card-link-color, 20%);
$sidenav-padding: 10px;

// Variables;
@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/buttons";
@import "components/waves";
@import "components/modal";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/sidenav";
@import "components/tapTarget";
// END MATERIALIZE
@import "timeline";
@import "gist-monokai";

html {
    @media only screen and (min-width: 0) {
        font-size: 18px;
    }
    
    @media only screen and (min-width: $medium-screen) {
        font-size: 18px;
    }
    
    @media only screen and (min-width: $large-screen) {
        font-size: 18px;
    }
}

main {
    padding: 10px;
    
    &.withside {
        @media #{$large-and-up} {
            margin-top: 20px;
            padding-left: $sidenav-width + 10;
        }
    }
    
    .header {
        h1 {
            margin-top: 0;
        }
    }

    .home {
        h1 {
            margin: 5px 0;
        }
        @media #{$medium-and-down} {
            .mug img {
                width: 250px;
                height: 250px;
            }
        }
    }

    @media #{$large-and-up} {
        .blog {
            padding: 0 50px;
        }
    }

    .post {
        .post-title {
            margin-top: 0;
            @media #{$medium-and-down} {
                font-size: 50px;
            }
        }

        @media only screen and (min-width: $medium-screen) {
            .post-content {
                margin: 0 20px;
            }
        }
    }

    .card {
        .date {
            margin-bottom: 10px;
        }
        
        .card-action a.no-margin {
            margin: 0 !important;
        }
    }
}

aside {
    h1 {
        font-size: 50px;
        margin-top: 0;
    }

    .sidenav li.active {
        background-color: color("blue-grey", "darken-3");
    }

    li.sub-menu {
        margin-left: 15px;
    }

    .tagline {
        font-size: 14px;
    }
}

.mug {
    margin: 10px auto 0;
    width: 100%;
    img { 
        width: 300px;
        height: 300PX;
        border-radius: 100%;
    }
}

.header {
    margin-bottom: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #cfd8dc;

    h2 {
        font-size: 48px;
        margin: 0 0 10px;
        margin-bottom: 10px;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 10px;
        margin-bottom: -8px;
    }
}

.footer-home {
    margin: 20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: color("blue-grey", "darken-4");
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: color("blue-grey", "darken-3");
    border-radius: 20px;
}

code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 16px;
    color: #fff;
    background-color: #323232;
}

img {
    max-width: 100%;
}

@import "print";
