{{ define "header" }}
<div>
  {{- partial "header.html" . -}}
</div>
{{ end }}
{{ define "main" }}
<div class="blog">
  <div class="list">
    <div class="row">
      {{ range $index, $element := .Paginator.Pages }}
        <div class="col s12 l6" data-idx="{{ $index }}">
          <div class="card hoverable blue-grey darken-3">
            <div class="card-content">
              <span class="card-title">{{ .Title | safeHTML }}</span>
              <div class="date"><i class="fas fa-calendar-day"></i>&nbsp;&nbsp;{{ .Date.Format "Jan 02, 2006" }}</div>
              <p>{{ .Summary }}</p>
            </div>
            <div class="card-action right-align">
              <a href="{{ .Permalink }}" class="no-margin">More</a>
            </div>
          </div>
        </div>
        {{ if modBool (add $index 1) 2 }}
          </div><div class="row">
        {{ end }}
      {{ end }}
    </div>
</div>
  <div class="footer-home">
    <a href="/">Home</a>
  </div>
</div>
{{ end }}
