{{ $currentPage := . }}
<aside id="slide-out" class="sidenav sidenav-fixed">
    {{- partial "mug.html" . -}}
    <ul>
        {{ if eq $currentPage.CurrentSection.Name "CV" }}
            <li class="{{ if eq $currentPage.Name "CV" }}active{{ end }} ">
                <a href="/cv/">
                    <span>CV</span>
                </a>
            </li>
            {{ range .Site.Menus.cv }}
                <li class="sub-menu {{ if $currentPage.IsMenuCurrent "cv" . }}active{{ end }}">
                    <a href="{{ .URL }}">
                        <span class="truncate">{{ .Name | safeHTML }}</span>
                    </a>
                </li>
            {{ end }}
        {{ else }}
            {{ range .Site.Menus.main }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}">
                        <span class="truncate">{{ .Name | safeHTML }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</aside>
