<aside id="slide-out" class="sidenav sidenav-fixed">
    {{- partial "mug.html" . -}}
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}">
                    <span class="truncate">{{ .Name | safeHTML }}</span>
                </a>
            </li>
        {{ end }}
<!--
        <li>
            <a href=""></a>
        </li>
-->
</ul>
</aside>
